.navigation {
		display: block;
		background-color: #f3f3f3;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 0;
		height: 50px; /* Like in .body */
		border-radius: 0 0 40px 40px;
		
}

.navigation ul li {
		display: inline;
		margin: 0 15px 0 15px;
		font-size: 16pt;
		color: #343434;
}

.navigation ul li a {
		text-decoration: none;
		color: #343434;
}

.navigation ul li a:hover {
		color: #8e8b82;
}

.body {
		margin-top: 50px; /* Like in .navigation */
}
